<html>
	<head>
		<title>Home Test Page</title>
		<!--
                 __   __   _ _        
                 \ \ / /__| | |_ __ _ 
                  \ V / _ \ |  _/ _` |
                   \_/\___/_|\__\__,_|
                
         -->
	</head>
	<body>
		<h1>Twitch</h1>
			<ul>
				{% for item in twitch_data %}
					<li>{{ item }}</li>
				{% end %}
			</ul>
		<h1>Beam</h1>
			<ul>
				{% for item in beam_data %}
					<li>{{ item }}</li>
				{% end %}
			</ul>
		<img src="http://i.imgur.com/FDQOtJr.png" height=60px>
	</body>
	<style>
                /* Aling logo to bottom right of page */
                img { position: absolute; left: 5; bottom: 5; }
        </style>
</html>
